<a href="https://colab.research.google.com/github/indracharan-png/Titanic-Machine-Learning-from-Disaster-kaggle-/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import regex as re
import numpy as np

# Load the CSV file into a DataFrame
df = pd.read_csv('train.csv')

df.info()
print(df.describe(include='all'))
print(df['Pclass'].unique())
print(df['Age'].dropna())

def preprocess_Data():
    # Convert the column names from camelCase to snake_case
    df.columns = [re.sub(r'(?<!^)(?=[A-Z])', '_', col_name).lower() for col_name in df.columns]

    df = df.copy()

    # Impute the 'age' feature using stratified random sampling based on 'pclass' and 'sex' features
    for (pclass, sex), group in df_copy.groupby(['pclass', 'sex']):
        # Select indices in a group where 'age' is null
        missing_indices = group['age'].index[group['age'].isna()]

        missing_size = len(missing_indices)
        random.seed(42)

        # Compute the donor data points from the current group
        donors = group['age'].dropna().values

        # Falback-1: If no donors are avaialble in the group, compute donors from other groups
        if donors.size == 0:
            donors = df.loc[(df['sex'] == sex) & (df['age'].notna()), 'age'].values

        # Fallback-2: Compute the donors from the global age data coloumn
        if donor.size == 0:
            donors = df.loc[df['age'].notna(), 'age'].values


        sampled_ages = np.random.choice(donors, size = missing_size, replace=True)
        df.loc[missing_indices, 'age'] = sampled_ages




    # Fill up the empty cells in 'cabin' feature with 'Unknown' string, which indicates missing information
    df['cabin'].fillna('Unknown', inplace=True)
    # Extract the deck information from the first letter of the 'cabin' feature, and create a new feature 'deck' ('U' for 'Unknown')
    df['deck'] = df_copy['cabin'].str[0]

    df_copy.info()
    print(df_copy.describe(include='all'))

    return df


if __name__ == "__main__":
    preprocess_Data()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN
[3 1 2]
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   name          891 non-null    object
 4   sex           891 non-null    object
 5   age           891 non-null    float64
 6   sib_sp        891 non-null    int64
 7   parch         891 non-null    int64
 8   ticket        891 non-null    object
 9   fare          891 non-null    float64
 10  cabin         891 non-null    object
 11  embarked      889 non-null    object
 12  deck          891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
        passenger_id    survived      pclass                 name   sex  \
count     891.000000  891.000000  891.000000                  891   891
unique           NaN         NaN         NaN                  891     2
top              NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq             NaN         NaN         NaN                    1   577
mean      446.000000    0.383838    2.308642                  NaN   NaN
std       257.353842    0.486592    0.836071                  NaN   NaN
min         1.000000    0.000000    1.000000                  NaN   NaN
25%       223.500000    0.000000    2.000000                  NaN   NaN
50%       446.000000    0.000000    3.000000                  NaN   NaN
75%       668.500000    1.000000    3.000000                  NaN   NaN
max       891.000000    1.000000    3.000000                  NaN   NaN

               age      sib_sp       parch  ticket        fare    cabin  \
count   891.000000  891.000000  891.000000     891  891.000000      891
unique         NaN         NaN         NaN     681         NaN      148
top            NaN         NaN         NaN  347082         NaN  Unknown
freq           NaN         NaN         NaN       7         NaN      687
mean     30.564725    0.523008    0.381594     NaN   32.204208      NaN
std      14.445524    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      21.000000    0.000000    0.000000     NaN    7.910400      NaN
50%      29.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      39.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       embarked deck
count       889  891
unique        3    9
top           S    U
freq        644  687
mean        NaN  NaN
std         NaN  NaN
min         NaN  NaN
25%         NaN  NaN
50%         NaN  NaN
75%         NaN  NaN
max         NaN  NaN

/tmp/ipython-input-1183733266.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['cabin'].fillna('Unknown', inplace=True)