<a href="https://colab.research.google.com/github/indracharan-png/Titanic-Machine-Learning-from-Disaster-kaggle-/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import regex as re
import numpy as np
import random




def preprocess_Data(df):
    # Convert the column names from camelCase to snake_case
    df.columns = [re.sub(r'(?<!^)(?=[A-Z])', '_', col_name).lower() for col_name in df.columns]

    df = df.copy()

    # Impute the 'age' feature using stratified random sampling based on 'pclass' and 'sex' features
    for (pclass, sex), group in df.groupby(['pclass', 'sex']):
        # Select indices in a group where 'age' is null
        missing_indices = group['age'].index[group['age'].isna()]

        missing_size = len(missing_indices)
        random.seed(42)

        # Compute the donor data points from the current group
        donors = group['age'].dropna().values

        # Falback-1: If no donors are avaialble in the group, compute donors from other groups
        if donors.size == 0:
            donors = df.loc[(df['sex'] == sex) & (df['age'].notna()), 'age'].values

        # Fallback-2: Compute the donors from the global age data coloumn
        if donors.size == 0:
            donors = df.loc[df['age'].notna(), 'age'].values


        sampled_ages = np.random.choice(donors, size = missing_size, replace=True)
        df.loc[missing_indices, 'age'] = sampled_ages




    # Fill up the empty cells in 'cabin' feature with 'Unknown' string, which indicates missing information
    df['cabin'] = df['cabin'].fillna('Unknown')
    # Extract the deck information from the first letter of the 'cabin' feature, and create a new feature 'deck' ('U' for 'Unknown')
    df['deck'] = df['cabin'].str[0]

    return df


if __name__ == "__main__":
    # Load the CSV file into a DataFrame
    df = pd.read_csv('train.csv')

    df.info()

    df_copy = preprocess_Data(df)

    df_copy.info()

    print("Hello world")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   name          891 non-null    object
 4   sex           891 non-null    object
 5   age           891 non-null    float64
 6   sib_sp        891 non-null    int64
 7   parch         891 non-null    int64
 8   ticket        891 non-null    object
 9   fare          891 non-null    float64
 10  cabin         891 non-null    object
 11  embarked      889 non-null    object
 12  deck          891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB